.HomePage {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.HPServiceTime  {
  display: flex;
  justify-content: center;
  font-family: 'Hind', sans-serif;
  font-style: normal;
  background-color: transparent;
  color: #FFF;
  height: 850px;
}

.HPServiceTime__background {
  width: 100%;
  left: 0;
  right: 0;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-image: url('../../Images/cg1.jpg');
}

.HPServiceTime__content {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 320px;
  margin-bottom: 120px;
  margin-left: 20px;
  margin-right: 20px;
}

.HPServiceTime__content > h1, .teamMember__content  > h1 {
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: .01em;
  text-transform: none;
  text-shadow: 1px 2px 18px rgb(97, 97, 97);
  margin-bottom: 0;
}

.HPServiceTime__content > h2{
  font-size: 25px;
  line-height: 1.5em;
  letter-spacing: .01em;
  text-transform: none;
  text-shadow: 1px 2px 18px rgb(97, 97, 97);
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.locationLink {
  color: #FFF;
}

.HPSermon {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  text-align: left;
  /* margin-top: 150px; */
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  z-index: 1;
  height: 600px;
}


.HPSermon__background {
  height: 600px;
  width: 100%;
  background-color: #FAFAFA;
  position: absolute;
  z-index: -1;
}

.HPSermon > h3 {
  position: absolute;
  font-size: 23px;
  margin: 100px 0px 23.24px;
  color: #525252;
  z-index: 1;
  max-width: 700px;
}

.HPSermon > iframe {
  margin: 190px 20px 0px;
}

.HPActivities {
  height: 1180px;
  padding-top: 20px;
  /* background-color: red; */
}

.HPImgHolder {
  /* height: 350px; */
  margin-top: 50px;
}

.HPAImg {
  width: 300px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  /* padding-top: 30px; */
}

.HPAContent > h2, .HPConnection > h2{
  font-size: 25px;
  line-height: 1.5em;
  letter-spacing: .01em;
  margin-top: 30px;
  /* text-transform: none;
  text-shadow: 1px 2px 18px rgb(97, 97, 97); */
  /* text-align: left; */
  /* margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px; */
}

.HPAContent > p {
  max-width: 290px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.HPAContent > button{
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(14, 44, 59);
  /* color: #FFF; */
  padding: 18px 24px;
  margin-top: 10px;
}

.HPAContent__button {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .2em;
  text-decoration: none;
}

.HPConnection {
  height: 330px;
  background-color: #FAFAFA;
  padding-top: 30px;
}

iframe {
  width: 560px; 
  height: 315px;
}

/* .AU__footer {
  position: absolute;
  width: 100%;
  bottom: -1500px;
  background-color: #a2c3d3;
  color: white;
  padding-top: 23px;
  padding-bottom: 1px;
  font-size: 8px;
  font-family: 'Montserrat', sans-serif;
  z-index: 1;
} */

@media screen and (min-width: 768px) {
  .HPActivities {
    height: 1450px;
    /* background-color: red; */
  }

  .HPAImg {
    width: 600px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 30px; */
  }

  .HPAContent > p {
    max-width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }

  .HPConnection {
    height: 350px;
    padding-top: 50px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .HPActivities {
    height: 1100px;
  }

  .HPFamilies, .HPGroups{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }

  .HPImgHolder {
    /* height: 800px; */
    /* width: 50%; */
    margin-top: 70px;
    margin-left: 20px;
  }

  .HPAContent {
    padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%;
  }


  /* .HPAContent {
    width: 50%;
    padding: 90px 30px 0 30px;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 70px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  } */

}

@media screen and (min-width: 1440px) {
  /* .aboutUs {
    padding-top: 140px;
  }   */

  /* .HPServiceTime__background {
    height: 1000px;
    max-height: 1000px;
  } */
  
  .HPServiceTime__content > h1, .teamMember > h1 {
    font-size: 50px;
  }
  
  /* .HPServiceTime__content > button, .teamMember > button {
    font-size: 25px;
    padding: 20px 44px;
  } */

  .HPSermon {
    height: 1000px;
  }

  .HPSermon__background {
    height: 1000px;
  }
  
  .HPSermon > h3 {
    margin-top: 100px;
    font-size: 28px;
    max-width: 700px;
  }

  .HPSermons > p {
    margin-top: 200px;
    max-width: 500px;
  }

  iframe {
    width: 960px; 
    height: 715px;
  }
  

}