.Missions {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-family: lora;
}

.Miimg  {
  display: flex;
  justify-content: center;
  /* font-family: 'Hind', sans-serif;
  font-style: normal; */
  background-color: transparent;
  color: #FFF;
  height: 859px;
}

.Miimg__background {
  width: 100%;
  left: 0;
  right: 0;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-image: url('../../Images/mission.jpg');
}

.Miimg__content {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 320px;
  margin-bottom: 120px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 46px;
}

.MiContent {
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  max-width: 800px;
}

.MiContent > p {
  text-align: left;
  margin: 0 20px 0 20px;
}