.form {
  display: flex;
  /* background-color: white; */
  /* margin-top: 20px; */
  /* margin-bottom: 150px; */
  padding: 20px;
  text-align: left;
  font-size: 15px;
  width: 240px;
  margin-left: auto;
  margin-right: auto;

}

input {
  width: 220px;
  /* margin: 10px 0 10px 0; */
  margin-bottom: 15px;
  border: 1px solid #BABABA;
  border-radius: 4px;
  height: 55px;
  padding-left: 20px;
  font-size: 18px;
}

.form__button {
  display: flex;
  justify-content: center;
  width: 240px;
}

.form__button > button {
  background-color: rgba(14, 44, 59);
  border: none;
  border-radius: 5px;
  padding: 15px 40px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .2em;
  text-decoration: none;
}

@media screen and (min-width: 600px) {
  .form {
    width: 400px;
    margin-top: 0;
  }

  input {
    width: 395px;
  }
  
  select {
    width: 400px;
  }

  textarea {
    width: 395px;
    min-width: 395px;
    max-width: 395px;
    }
    
  .form__button {
    display: flex;
    justify-content: center;
    width: 400px;
  }
}