.Purpose {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: lora;
}

.Pimg  {
  display: flex;
  justify-content: center;
  /* font-family: 'Hind', sans-serif;
  font-style: normal; */
  background-color: transparent;
  color: #FFF;
  height: 859px;
}

.Pimg__background {
  width: 100%;
  left: 0;
  right: 0;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-image: url('../../Images/heart.jpg');
}

.Pimg__content {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 320px;
  margin-bottom: 120px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 46px;
}

.Purpose__content {
  margin-left: auto;
  margin-right: auto;
  min-width: 250px;
  max-width: 400px;
}

.PCcContent {
  text-align: left;
  margin: 0 20px 0 20px;
}

@media screen and (min-width: 768px) {
  
  .Purpose__content {
    min-width: 400px;
    max-width: 1000px;
    }

  .PCc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
  }


  .PCcTitle {
    /* padding-top: 6%;
    padding-left: 10%;
    padding-right: 10%; */
    width: 50%;
    margin-left: 5%;
    margin-right: 50px;
  }

  .PCcTitle > h2 {
    margin-top: 15px;
  }

  .PCcContent {
    width: 50%;
  }

  .PCcContent > p {
    margin-right: 10%;
  }

  .PCcContent {
    margin: 0;
  }
}