.Event {
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  font-family: lora;
  background-color: #FAFAFA;
}

.Evimg  {
  display: flex;
  justify-content: center;
  /* font-family: 'Hind', sans-serif;
  font-style: normal; */
  background-color: transparent;
  color: #FFF;
  height: 859px;
}

.Evimg__background {
  width: 100%;
  left: 0;
  right: 0;
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  background-image: url('../../Images/events1.jpg');
}

.Evimg__content {
  width: 1080px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  margin-top: 320px;
  margin-bottom: 120px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 46px;
}

.EventBlock {
  border: 2px solid #245066;
  border-radius: 10px;
  margin: 20px;
  height: 180px;
  width: 220px;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #245066;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: url('../../Images/EB1.jpg');
  /* font-family: 'Permanent Marker', cursive; */
  color: black;
}

.EventBlock > h3 {
  font-size: 20px;
}

.EventBlock > p {
  font-size: 18px;
  text-shadow: 3px 2px 10px #FAFAFA;
}

@media screen and (min-width: 768px) {
  .EC1, .EC2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .EventBlock {
    margin: 20px;
    height: 200px;
    width: 240px;
  }
  
  .EventBlock > h3 {
    font-size: 25px;
  }
  
  .EventBlock > p {
    font-size: 20px;
  }
}